body {
    font-family: Oswald;
}

#ham {
    left: 12.5%;
}

#ham > ul > li:last-child {
    border-bottom: none;
}

.custom-scroll::-webkit-scrollbar {
    display: none;
}
.custom-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}