body {
    font-family: Oswald;
}

#ham {
    top: 11%;
}

#ham > ul > li:last-child {
    border-bottom: none;
}

/* Hide the Scrollbar on all navigators */
.custom-scrollbar::-webkit-scrollbar {
    display: none;
}
.custom-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}